In [5]:
import pandas as pd
import os

In [8]:
#load vine.csv file
vine_file = os.path.join("Amazon_Vine_Analysis", "vine.csv")

In [13]:
# Read the file
vine_df = pd.read_csv(vine_file)
vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,REAKC26P07MDN,5,0,0,N,Y
1,R3NU7OMZ4HQIEG,2,0,1,N,Y
2,R14QJW3XF8QO1P,5,0,0,N,Y
3,R2HB7AX0394ZGY,5,0,0,N,Y
4,RGKMPDQGSAHR3,5,0,0,N,Y
...,...,...,...,...,...,...
2643236,R40AVFLMGSX5Q,1,32,34,N,N
2643237,R13RP6H1OP0BFS,5,3,3,N,N
2643238,R34ITLN8LBTFZN,3,48,56,N,N
2643239,R30D2N6TX0OFS,3,7,7,N,Y
2643240,R2MAGOAOXPFMF1,2,17,20,N,Y

In [17]:
# create table with only helpful votes >= 20
votes_20 = vine_df[(vine_df["helpful_votes"] >= 20)]

In [18]:
print(votes_20)

              review_id  star_rating  helpful_votes  total_votes vine  \
128      R21KC552Y6HL8X            1             27           31    N
161       RX9WC9FTIR1XR            5             25           25    N
256       RGDCOU1KBHMNG            3             29           31    N
267       RVTYWID2TPMMY            2             35           42    N
719      R2CMPZ5VESGRLY            4             27           28    N
...                 ...          ...            ...          ...  ...
2643192   RFN39V2QYNE49            5             62           72    N
2643199  R37NBT4U1EL04K            5             47           61    N
2643213   RU2X9GTDZ00IM            5             58           59    N
2643236   R40AVFLMGSX5Q            1             32           34    N
2643238  R34ITLN8LBTFZN            3             48           56    N

        verified_purchase
128                     Y
161                     Y
256                     Y
267                     Y
719                     Y
...                   ...
2643192                 N
2643199                 N
2643213                 N
2643236                 N
2643238                 N

[33933 rows x 6 columns]

In [21]:
#retrieve all the rows where the number of helpful_votes divided by total_votes is equal to or greater than 50%
votes_math = votes_20[(votes_20["helpful_votes"]//votes_20["total_votes"] >= 0.5)]

In [22]:
print(votes_math)

              review_id  star_rating  helpful_votes  total_votes vine  \
161       RX9WC9FTIR1XR            5             25           25    N
1254     R3A1VQ3SQDXEJ3            5             20           20    N
1637     R34X0ZGVB3YGYO            5             47           47    N
2853     R1E5UU8JBUSHU2            5             29           29    N
3454     R32GLCISSDQH58            5             21           21    N
...                 ...          ...            ...          ...  ...
2643026  R2E7SKI0HVY4KI            1             31           31    N
2643054  R1DAK6B20LI6IO            5             30           30    N
2643090  R1ZRVX03Z7JZC2            4             20           20    N
2643103  R2AUKS35PKGUJQ            3             23           23    N
2643170  R2BM4RHIR0KTH2            5             22           22    N

        verified_purchase
161                     Y
1254                    Y
1637                    Y
2853                    Y
3454                    Y
...                   ...
2643026                 N
2643054                 N
2643090                 N
2643103                 N
2643170                 N

[5438 rows x 6 columns]

In [24]:
#retrieves all the rows where a review was written as part of the Vine program (paid), vine == 'Y'
vine_yes = votes_math[(votes_math["vine"] == "Y")]

In [25]:
print(vine_yes)

              review_id  star_rating  helpful_votes  total_votes vine  \
10241    R16OMUJIGI18JZ            5             72           72    Y
66423     RD2BCTVS59A5L            2             20           20    Y
466362   R1R20RAIUCR97A            4             25           25    Y
470940   R2232LLUOL22M2            3             24           24    Y
997295    RO48H3YM6HMHM            5             24           24    Y
1036579  R37X0CL4RSUDEI            3             29           29    Y
1327691  R2C2EVH363N2O0            5             21           21    Y
1338177  R3P8N0L8TX7TOF            4             21           21    Y
1407335  R2F97F5VXIC2LR            5             43           43    Y
1534078  R1NF4XB3U0T0DE            4             23           23    Y
1784179  R2WZOMKG5UPPHZ            4             46           46    Y
1941790  R2H8O3GTX08CFP            3             29           29    Y
1979726   RKHPBK4KLOT3E            4             47           47    Y
2063867  R2ZU6I8JDBZ1MC            4             43           43    Y

        verified_purchase
10241                   N
66423                   N
466362                  N
470940                  N
997295                  N
1036579                 N
1327691                 N
1338177                 N
1407335                 N
1534078                 N
1784179                 N
1941790                 N
1979726                 N
2063867                 N

In [26]:
#retrieve all the rows where the review was not part of the Vine program (unpaid), vine == 'N'.
vine_no = votes_math[(votes_math["vine"] == "N")]

In [27]:
print(vine_no)

              review_id  star_rating  helpful_votes  total_votes vine  \
161       RX9WC9FTIR1XR            5             25           25    N
1254     R3A1VQ3SQDXEJ3            5             20           20    N
1637     R34X0ZGVB3YGYO            5             47           47    N
2853     R1E5UU8JBUSHU2            5             29           29    N
3454     R32GLCISSDQH58            5             21           21    N
...                 ...          ...            ...          ...  ...
2643026  R2E7SKI0HVY4KI            1             31           31    N
2643054  R1DAK6B20LI6IO            5             30           30    N
2643090  R1ZRVX03Z7JZC2            4             20           20    N
2643103  R2AUKS35PKGUJQ            3             23           23    N
2643170  R2BM4RHIR0KTH2            5             22           22    N

        verified_purchase
161                     Y
1254                    Y
1637                    Y
2853                    Y
3454                    Y
...                   ...
2643026                 N
2643054                 N
2643090                 N
2643103                 N
2643170                 N

[5424 rows x 6 columns]

In [28]:
#Determine the total number of reviews
vine_df["review_id"].count()

2643241

In [40]:
#number of 5-star reviews
vine_5 = vine_df[(vine_df["star_rating"] == 5)]
total5 = vine_5["star_rating"].count()
total5

1645283

In [41]:
#paid 5-star reviews (vine Y and review =5)
paid_5 = vine_5[(vine_5["vine"] == "Y")]
paid = paid_5["vine"].count()
paid

4343

In [42]:
# unpaid 5-star review (vine Y and review =5)
unpaid_5 = vine_5[(vine_5["vine"] == "N")]
unpaid = unpaid_5["vine"].count()
unpaid

1640940

In [44]:
#passing_math_percentage = passing_math_count / float(student_count) * 100
ppaid_5 = paid / float(total5) * 100
ppaid_5

0.26396674614640764

In [45]:
punpaid_5 = unpaid / float(total5) * 100
punpaid_5

99.73603325385359